*{
    margin: 0px;
    padding: 0px;
}

/* Presentacion */
#presentacion{
    background: url(../src/presentacion.jpg) no-repeat center;
}

.skill-bar{
    width: 100%;
    height: 8px;
    background-color: rgba(156, 163, 175);
    position: relative
}
.skill{
    height: 8px;
    background-color: rgb(54, 106, 197);
    position: relative;
    transition: 1s linear;
    width: 0px;
}